body {
  font-family: Arial;
  background: #74b9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}